body {
  background: gray;
}
.documento {
  width: 700px;
  background: white;
  margin: auto;
  border: 2px solid rgb(167, 204, 33);
}
.documento h1 {
  text-align: center;
  width: 100%;
}
.documento .datos-personales {
  box-sizing: border-box;
  text-align: right;
  float: left;
  width: 40%;
  padding-right: 30px;
}
.documento .datos-personales p {
  font-size: 13px;
}
.documento .datos-personales h2 {
  color: rgb(117, 10, 112);
}
.documento .formacion {
  box-sizing: border-box;
  float: right;
  width: 60%;
  padding-left: 20px;
  border-left: 4px solid rgb(105, 13, 211);
}
.documento .formacion p {
  font-size: 13px;
}
.documento .ordenar {
  float: none;
  clear: both;
}
